body{
    background-color: #1f2937ce;

}
.header{
    color: #F9FAF8;
    background-color: #1f2937;
    height: 50px;
}

.header-items{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.menu{
    display: flex;
    gap: 1em;
}

.logo{
    font-size: 24px;
}

.header2{
    display: flex;
    color: #F9FAF8;
    background-color: #1f2937ce;
    align-items: center;
    justify-content: center;
    height: 350px;
    gap: 2em;
}

.descrip{
    height: 150px;
    width: 400px;
}
.descrip-item1{
    font-size: 48px;
    font-weight: bolder;
}

.descrip-item2{
    color:#e5e7eb;
    font-size: 18px;
}

.image{
    height: 150px;
    width: 350px;
    background-color: #F9FAF8;
    color: #1f2937;
}

.signup button{
    background-color: blue;
    color: #F9FAF8;
    padding: 10px 25px;
    border-radius: 10px;
    
}

.info{
    margin-bottom: 25px;
}

.info-title{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
    margin: 20px;

}

.info-items{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.info-descrip{
    border: 0;
    display: flex;
    width: 150px;
    justify-content: center;
}

.info-image{
    height: 150px;
    width: 150px;
    border: 2px solid rgb(91, 91, 224);
    border-radius: 20px;
}

.quote{
    background-color: #1f2937b4;
}

.quote-items{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #d5d8db;
    font-weight: 200;
}

.quote-author{
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    display: flex;
    justify-content: right;
}

.contact-container{
    background-color: rgba(0, 0, 255, 0.568);
    color:white;
    margin: 100px 250px;
    justify-content: center;
    align-items: center;

}

.contact-items{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.contact-info1{
    font-size: large;
    font-weight: 400;
}

.contact-button button{
    color: white;
    background-color: rgba(0, 0, 255, 0.568);
    border-radius: 7px;
    margin: 2px solid blue;
}

.footer-container{
    background-color: #1f2937;
}   

.footer-container div{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: small;
}