.header{
    color: #F9FAF8;
    background-color: #1f2937;
    height: 50px;
}

.header-items{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.menu{
    display: flex;
    gap: 1em;
}

.logo{
    font-size: 24px;
}

.header2{
    display: flex;
    color: #F9FAF8;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    height: 350px;
    gap: 2em;
}

.descrip{
    height: 150px;
    width: 400px;
}
.descrip-item1{
    font-size: 48px;
    font-weight: bolder;
}

.descrip-item2{
    color:#e5e7eb;
    font-size: 18px;
}

.image{
    height: 150px;
    width: 350px;
    background-color: #F9FAF8;
    color: #1f2937;
}

.signup button{
    background-color: blue;
    color: #F9FAF8;
    padding: 10px 25px;
    border-radius: 10px;
    
}

.info-title{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
    margin: 20px;

}

.info-items{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.info-descrip{
    border: 0;
    display: flex;
    width: 150px;
    justify-content: center;
}

.info-image{
    height: 150px;
    width: 150px;
    border: 2px solid rgb(91, 91, 224);
    border-radius: 20px;
}
